.container {
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 40px;
    padding: 50px;
    background-color: blanchedalmond;
}

#sec {
    padding: -50px;
    margin-left: -27px;
}
#footer .row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
#footer .column {
    background-color: lightsalmon;
    flex: 50%;
    padding: 10px;
    height: 100px;
    /* Should be removed. Only for demonstration */
}

/* paragraph text color */
p {
    color: teal;
}

/* list table text color */
ul li {
    color: darkred;
}