h1{
    text-align: center;
}
.container form {
    margin-top: 1px;
    margin-left: 250px;
    margin-right: 200px;
}
label{
    font-size: 40;
    margin-left: 200px;
}
input[type=text]{
    margin-left: 70px;
    width: 450px;
    padding: 5px;
}
input[type=radio]{
    margin-left: 70px;
    width: 150px;
    padding: 10px;
}
input[type=date]{
    margin-left: 80px;
    width: 450px;
    padding: 5px;
}
input[type=email]{
    margin-left: 38px;
    width: 450px;
    padding: 5px;
}
input[type=password]{
    margin-left: 70px;
    width: 450px;
    padding: 5px;
}
input[type=confirmpassword]{
    margin-left: 10px;
    width: 450px;
    padding: 5px;
}
input[type=tel]{
    margin-left: 10px;
    width: 358px;
    padding: 5px;
}
select{
    margin-left: 36px;
    width: 80px;
    padding: 5px;
}
textarea{
    margin-left: 75px;
    width: 461px;
}
input[type=state]{
    margin-left: 10px;
    width: 358px;
    padding: 5px;
}
#cars{
    margin-left: 95px;
    width: 468px;
}
input[type=checkbox]{
    margin-left: 75px;
}
input[type=file]{
    margin-left: 37px;
}
#vehicle5{
    margin-left: 200px;
}
input[type=submit]{
    margin-left: 200px;
    padding-left: 30px;
    padding-right: 40px;
}